<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MY PROFILE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>


    <section class="profile-card">
        <div class="image">
            <img src="https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="user image">
            <!-- <img src="https://preview.keenthemes.com/metronic-v4/theme_rtl/assets/pages/media/profile/profile_user.jpg" alt="user image"> -->
        </div>
        <div class="text-data">
            <h2>
                <%= user.fullname %>
            </h2>
            <h4>@<%= user.username %>
            </h4>
        </div>
        <div class="media-icons">
            <a href="#" style="background-color: #ff0000;">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="#" style="background-color: #1da1f2" ;>
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="#" style="background-color: #4267b2" ;>
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#" style="background-color: #e13062" ;>
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <div class="buttons">
            <button class=" buttons my-3"><a href="/logout"
                    style="text-decoration: none; color: white;">LOGOUT</a></button>
            <button class="my-3">Message</button>
        </div>
        <div class="analytics">
            <div class="data">
                <i class="fa-solid fa-heart"></i>
                <p>0</p>
            </div>
            <div class="data">
                <i class="fa-regular fa-comment"></i>
                <p>0</p>
            </div>
            <div class="data">
                <i class="fa-solid fa-share"></i>
                <p>0</p>
            </div>
        </div>
    </section>


    <div class="container upload-form">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="text" name="imageText">
            <input type="file" name="file">
            <input class="login-button " type="submit" value="Upload">
        </form>
    </div>


    <div class="container my-3 posts ">
        <% if (user.post.length===0) { %>
            <p>NO POSTS TO SHOW</p>
            <% } else { %>
                <div class="cards flex">
                    <% user.post.forEach(function(post) { %>
                        <div class="card" style="width: 18rem;">
                            <img src="/images/uploads/<%=post.Images %>">

                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= post.imageText %>
                                </h5>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>