.card-bodys{
    background-color: rgb(239, 244, 241);
    color: rgb(53, 18, 227);
    padding-left: 1.5vw;
}

.heading{
    text-align: center;
    font-size: 10vh;
}
.box{
    display: flex;
    flex-wrap: wrap;
    margin: 5vh;
    gap: 5vw;
    margin-left: 14vh;
}
.cards {
    width: 25vw;
    height: 50vh;
    background: rgb(103, 225, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
}

.cards-img-top{
    height:95%;
    width:100%
}
.cards:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: rgb(103, 151, 255);
}


.first-content {
    height: 100%;
    width: 100%;
    padding: 1%;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
    overflow: hidden;
}

.cards:hover .first-content {
    height: 0px;
    opacity: 0;
    max-width:fit-content;
    max-height:fit-content;
}

.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}

.cards:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}
.img{
    height: 85%;
    width: 99%;
    align-items: center;
    border: 2px solid black;
    border-radius: 5%;
}
.base{
    height: 9%;
    width: 100%;
    text-align: center;
    padding-bottom: 1%;
}






.card-body{
    background-color: rgb(239, 244, 241);
    color: rgb(53, 18, 227);
}
.card {
    width: 40vw;
    height: 35vh;
    background: rgb(103, 225, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    margin: 0;
}
