* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

nav{
    display: flex;
    padding: 2% 2%; 
    justify-content: space-between;
    max-width: 100vw;
     align-items: center; 
     /* background-color: rgba(255, 255, 255, 0.5); */
}
 
.nav-links{
flex: 1;
text-align: center;

}




.nav-links ul li{
    list-style: none;
    display:inline-block;
  padding: 8px 12px; 
    padding: 0.2% 1%;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: medium;

}

.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after{
    width: 100%;

}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.text-box h1{
    font-size: 62px;

}

.text-box p{
    margin: 10px 0 40px;
    font-size: large;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 1% 1.5%;
    font-size: medium;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.fa-times{
    display: none;

}
.fa-bars{
 display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
     }

     .nav-links ul li{
      display: block;
    }
    .nav-links{
        position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    left: -200px;
    text-align: left;
    z-index: 2;
    transition: left 0.3s ease;
    }

    .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;
    }
    .nav-links ul li{
        padding: 10px;

    }

    
}