.MRTS{
  display:flex;
  padding-left: 6vw;
}



.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: lightgray;
  }
  
  .line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: lightgray;
  }
  
  label {
    flex: 1;
  }
  
  select, textarea, input[type="text"], input[type="tel"],input[type="date"] {
    flex: 2;
    width: 100%;
    padding: 1vw;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100%; /* Adjust the height as needed */
    resize: vertical; /* Allow vertical resizing */
  }
  

  