/* App.css */

*{
  margin: 0;
  padding: 0%;
}

 body{ 
   /* background: linear-gradient(to right, #20d3fc, #726afb);  */
/* background-color: #c6c4d6; */
/* background-color:#d3dce7; */
 /* background: linear-gradient(to right,white,#c6c4d6 ); */
 /* background-color: #ede7ff; */
 /* background-color: #8667f2; */
 /* background: linear-gradient(171deg,#f0f0f0 0%, #ede7ff 90%); */

 
 background:linear-gradient(#D5A3FF 0%,#77A5F8 100%);
 }

/*catories csss */

.Difix{
display: flex;
margin:1% ;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #f44336;
  text-decoration-thickness: 2px; 
  text-underline-offset: 4px; 
}




.HH{
  transition: 1s;
}  

.HH:hover{
  transform: scale(1.2);
  z-index: 2;
} 



/*normal css */


.form-container {
  position: relative;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;         /* Change color to white */
  cursor: pointer;
}
.btn-close :hover{
  color: red;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Login signup Css */

